<h3>Lets explore FormGroup</h3>
<p>Form Status:{{profileForm.status}}</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>First Name:</label>
    <input type="text" formControlName="firstName">
    <label> Second Name:</label>
    <input type="text" formControlName="lastName">
    <div formGroupName="address">
        <h4>Address</h4>
        <label>Street:</label>
        <input type="text" formControlName="street">
        <label>City:</label>
        <input type="text" formControlName="city">
        <label>State:</label>
        <input type="text" formControlName="state">
        <label>Zip Code:</label>
        <input type="text" formControlName="zip">

    </div>
    <p>Complete the form to enable button</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="button" (click)="updateProfile()">Update Profile</button>
</form>